///////////////////////////////////
// Display
///////////////////////////////////

$display: (
  'display': (
    property: display,
    class: d,
    values: (
      flex: flex,
      block: block,
      inline-block: inline-block,
      inline: inline,
      none: none,
    ),
  ),
);

$utilities: map-merge($display, $utilities);
