///////////////////////////////////
// Fonts
///////////////////////////////////

$fonts: (
  'font-weight': (
    property: font-weight,
    class: f-w,
    values: $font-weights,
  ),
  'font-size': (
    property: font-size,
    class: f-s,
    values: $font-sizes,
  ),
  'line-height': (
    property: line-height,
    class: l-h,
    values: $font-sizes,
  ),
);

$utilities: map-merge($fonts, $utilities);
