// PrimeNg Theme
@import 'prime-theme';

// Material Theme
@import 'mat-theme';

// Configuration
@import 'functions/index';
@import 'mixins/index';

// Core styles of layout
@import 'core/index';

// Decorative widgets
@import 'widgets/index';

// Create app theme
@mixin ms-app-theme($theme) {
  @include ms-sidenav-theme($theme);
  @include ms-topnav-theme($theme);
  @include ms-toolbar-button-theme($theme);
}

@include ms-app-theme($theme);

/*
.theme-dark {
  $primary: mat-palette($mat-blue);
  $accent: mat-palette($mat-amber, A200, A100, A400);
  $warn: mat-palette($mat-deep-orange);
  $theme: mat-dark-theme($primary, $accent, $warn);

  @include angular-material-theme($theme);
  @include ms-app-theme($theme);
}
*/

