$text-color: #024b74;
$img-filter-white: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
  brightness(102%) contrast(102%);
$img-filter-ourColor: invert(0%);
$photo-size: 117px;
$input-height: 50px;
$input-background-color: rgba(230, 230, 230, 0.171);
.favorite-container {
  padding: 0;
  margin: 0;
  h3 {
    height: 50px;
    text-align: center;
    color: $text-color;
    margin-bottom: 0;
  }


.item {
  position: relative;
  padding: 0;
  margin:15px;
  border-radius: 10px;
  direction: rtl;
  transition: all 0.5s ease;
  .banner {
    position: relative;
    opacity: 1;
  }
  .background {
    position: relative;
    height: 250px;
    // min-height: 250px;
    width: 100%;
    object-fit: cover;
    background-size: contain;
    border-radius: 10px;
  }

  .heart {
    position: absolute;
    width: 100%;
    top: 10px;
    z-index: 10;
    a {
      width: 40px;
      height: 40px;
      margin: 0 10px;
      outline: none;
      border: none;
      background-color: transparent;
    }
    img {
      width: 25px;
      height: 25px;
    }
    a:hover {
      cursor: pointer;
    }
  }
  .claro {
    position: absolute;
    bottom: 10px;
    width: 100%;
    z-index: 10;

    .badge {
      min-width: 80px;
      height: 30px;
      border-radius: 5px;
      margin: 0 10px;
      color: $text-color;
      font-size: larger;
      background-color: rgba(255, 255, 255, 0.851);
      img {
        width: 15px;
        height: 15px;
        margin: 0 5px;
      }
    }
  }
  .line {
    opacity: 1;

    color: $text-color;
    padding: 0 10px;
    strong {
      padding: 0;
      img {
        height: 17px;
        width: 17px;
        margin: 0 3px;
      }
    }
    p {
      font-size: 14px;
      margin: 5px 15px;
    }
    img {
      height: 17px;
      width: 17px;
      margin: 0 10px;
    }
  }

  .preview {
    position: relative;
    top: -35px;
    opacity: 1;

    border-radius: 50%;
    height: 0px;
    img {
      width: 50px;
      height: 50px;
      margin: 0 10px;
      border-radius: 50%;
      object-fit: contain;
    }
  }
}
}
