// basic style for svg icon
.ms-svg-icon {
  display: inline-block;
  font-size: inherit;
  overflow: visible;
  line-height: 1em;
  text-align: center;
  vertical-align: -0.125em;
  height: 1em;
  width: 1em;
}
