.strong {
  min-width: 200px;
  min-height: 40px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.message {
  min-width: 250px;
  min-height: 40px;
  font-size: 20px;
  text-align: center;
}
